{% extends './includes/base.html' %}
{% load group %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Manage Clinical Results</h5>
                {% if request.user|has_group:"Administrator" or request.user|has_group:"Medical Technologist" %}
                <a href="{% url 'clinical_chemistry_add' %}" class="btn btn-primary mb-3">Add Clinical Chemistry</a>
                {% endif %}
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-muted">Patient</th>
                                <th class="text-muted">Glucose</th>
                                <th class="text-muted">Cholesterol</th>
                                <th class="text-muted">Triglycerides</th>
                                <th class="text-muted">HDL</th>
                                <th class="text-muted">LDL</th>
                                <th class="text-muted">Creatinine</th>
                                <th class="text-muted">Uric Acid</th>
                                {% if request.user|has_group:"Administrator" or request.user|has_group:"Medical Technologist" %}
                                <th class="text-muted">Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td>{{ result.patient }}</td>
                                <td>{{ result.glucose }}</td>
                                <td>{{ result.cholesterol }}</td>
                                <td>{{ result.triglycerides }}</td>
                                <td>{{ result.hdl }}</td>
                                <td>{{ result.ldl }}</td>
                                <td>{{ result.creatinine }}</td>
                                <td>{{ result.uric_acid }}</td>
                                {% if request.user|has_group:"Administrator" or request.user|has_group:"Medical Technologist" %}
                                <td>
                                    <div class="d-flex align-items-center justify-content-start gap-2">
                                        <a href="{% url 'clinical_chemistry_update' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="{% url 'clinical_chemistry_delete' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                        <a href="{% url 'generate_chemistry_result' pk=result.id %}">
                                            <i class="bi bi-printer"></i>
                                        </a>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
