{% extends './includes/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Manage Cross Matching Results</h5>
                <a href="{% url 'cross_matching_add' %}" class="btn btn-primary mb-3">Add Cross Matching Result</a>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-muted">Patient</th>
                                <th class="text-muted">Result</th>
                                <th class="text-muted">Pathologist</th>
                                <th class="text-muted">Medical Technologist</th>
                                <th class="text-muted">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td>{{ result.patient }}</td>
                                <td>
                                    <span class="badge bg-primary">
                                        <a class="text-white" style="text-decoration: none;" target="_blank" href="{% url 'cross_matching_result_update' pk=result.result.id %}">
                                            {{ result.result }}
                                        </a>
                                    </span>
                                </td>
                                <td>
                                    <a style="text-decoration: none;" target="_blank" href="{% url 'employee_update' pk=result.pathologist.id %}">
                                        {{ result.pathologist.get_full_name }}
                                    </a>
                                </td>
                                <td>
                                    <a style="text-decoration: none;" target="_blank" href="{% url 'employee_update' pk=result.medical_technologist.id %}">
                                        {{ result.medical_technologist.get_full_name }}
                                    </a>
                                    </td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-start gap-2">
                                        <a href="{% url 'cross_matching_update' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="{% url 'cross_matching_delete' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                        <a href="">
                                            <i class="bi bi-printer"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
