{% extends './includes/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Manage Employee Informations</h5>
                <a href="{% url 'employee_add' %}" class="btn btn-primary mb-3">Add Employee</a>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-muted">Employee</th>
                                <th class="text-muted">Email Address</th>
                                <th class="text-muted">Position</th>
                                <th class="text-muted">Date Joined</th>
                                <th class="text-muted">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in employees %}
                            <tr>
                                <td>{{ result.get_full_name }}</td>
                                <td>{{ result.email }}</td>
                                <td>
                                    {% for group in result.groups.all %}
                                        <span class="badge bg-primary">{{ group }}</span>{% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        <span class="badge bg-warning">No position assigned</span>
                                    {% endfor %}
                                </td>
                                <td>{{ result.date_joined }}</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-start gap-2">
                                        <a href="{% url 'employee_update' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="{% url 'employee_delete' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                        <a href="{% url 'employee_info_add' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-person-badge-fill"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
