{% extends './includes/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">{{ detail_header }}</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for input in form %}
                            <div class="col-md-12">
                                {% if input.name == 'is_active' or input.name == 'is_staff' or input.name == 'is_superuser' %}
                                <div class="form-check mt-2">
                                    {{ input }}
                                    <label class="form-check-label text-uppercase text-sm" for="{{ input.id_for_label }}">
                                        <small>{{ input.label }} </small>
                                        {% if input.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>
                                </div>
                                <small class="text-muted" for="{{ input.id_for_label }}">{{ input.help_text }}</small>
                                {% else %}
                                <div class="form-group mt-2 mb-2">
                                    <label class="fw-normal text-uppercase text-sm" for="{{ input.id_for_label }}">
                                        <small>{{ input.label }} </small>
                                        {% if input.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>
                                    {{ input }}
                                    <small class="text-muted" for="{{ input.id_for_label }}">{{ input.help_text }}</small>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" value="Submit" class="btn btn-primary">
                            <input
                                type="button"
                                onclick="Back()"
                                value="Back"
                                class="btn btn-success"
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
