{% extends './includes/base.html' %}
{% load group %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Manage Patient Informations</h5>
                {% if request.user|has_group:"Administrator" %}
                <div class="d-flex gap-2">
                    <a href="{% url 'laboratory_request_super_add' %}" class="btn btn-primary mb-3">
                        Add Request
                    </a>
                    <a href="{% url 'laboratory_request_super_add' %}" class="btn btn-primary mb-3">
                        Generate Laboratory Stats
                    </a>
                </div>
                {% endif %}

                {% if request.user|has_group:"Nurse" %}
                <a href="{% url 'laboratory_request_add' %}" class="btn btn-primary mb-3">
                    Add Request
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon text-bg-primary shadow-sm">
                    <i class="bi bi-person"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Hematology Request</span>
                    <span class="info-box-number">
                        {{ hematology_count }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon text-bg-danger shadow-sm">
                    <i class="bi bi-person-exclamation"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Serology Request</span>
                    <span class="info-box-number">{{ serology_count }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon text-bg-success shadow-sm">
                    <i class="bi bi-person-check"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Clinical Chemistry</span>
                    <span class="info-box-number">
                        {{ clinical_chemistry_count }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon text-bg-warning shadow-sm">
                    <i class="bi bi-people"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Urinalysis</span>
                    <span class="info-box-number">
                        {{ urinalysis_count }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon text-bg-danger shadow-sm">
                    <i class="bi bi-person-exclamation"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Cross Matching</span>
                    <span class="info-box-number">
                        {{ cross_matching_count }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon text-bg-success shadow-sm">
                    <i class="bi bi-person-check"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">RBS Request</span>
                    <span class="info-box-number">
                        {{ rbs_count }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon text-bg-primary shadow-sm">
                    <i class="bi bi-person"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Overall Request</span>
                    <span class="info-box-number">
                        {{ overall_results }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-muted">Patient</th>
                                <th class="text-muted">Description</th>
                                <th class="text-muted">Request Type</th>
                                <th class="text-muted">Requested</th>
                                <th class="text-muted">Date Request</th>
                                {% if request.user|has_group:"Administrator" %}
                                <th class="text-muted">Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td>{{ result.patient }}</td>
                                <td>
                                    {{ result.description }}
                                </td>
                                <td>
                                    <span class="badge bg-primary">{{ result.lab_request_type }}</span>
                                </td>
                                <td>
                                    {{ result.requested_by.get_full_name }}
                                </td>
                                <td>
                                    {{ result.date_request }}
                                </td>
                                {% if request.user|has_group:"Administrator" %}
                                <td>
                                    <div class="d-flex align-items-center justify-content-start gap-2">
                                        <a href="{% url 'lab_result_update' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="{% url 'lab_result_delete' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
