{% extends './includes/auth_base.html' %}

{% block auth_content %}
<div class="login-box">
    <div class="card">
        {% for message in messages %}
        <div class="callout callout-info">
            <h5 class="fw-bold">Authentication Message</h5>
            <p>{{ message.message }}</p>
        </p>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="card-body login-card-body">
            <h4 class="login-box-msg fw-bold">Administator Page</h4>
            <div class="input-group mb-3">
                {{ login_form.username }}
                <div class="input-group-text">
                    <span class="bi bi-person"></span>
                </div>
            </div>
            <div class="input-group mb-3">
                {{ login_form.password }}
                <div class="input-group-text">
                    <span class="bi bi-key"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                            checked
                            style="background-color: #198754; border-color: #198754;"
                        >
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember Me
                        </label>
                    </div>
                </div>
            </div>
            <div class="social-auth-links text-center mb-3 d-grid gap-2">
                <input type="submit" class="btn btn-success mb-3" value=" Log me in">
                <p>- OR -</p>
                <a href="/admin" class="btn btn-danger">
                    <i class="bi bi-person-lock"></i>
                    Login as Administator
                </a>
                <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    class="btn btn-primary mt-1"
                >
                    <i class="bi bi-person-lock"></i>
                    Are you a patient?
                </a>
            </div>
        </div>
    </form>
</div>
</div>
<div
    class="modal fade"
    id="exampleModal"
    aria-hidden="true"
    aria-labelledby="exampleModalLabel"
    tabindex="-1"
>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Search Your Information</h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <table id="datatable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-muted">Patient</th>
                            <th class="text-muted">Gender</th>
                            <th class="text-muted">Type</th>
                            <th class="text-muted">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in patients %}
                        <tr>
                            <td>{{ result.get_full_name }}</td>
                            <td>{{ result.sex }}</td>
                            <td>
                                <span class="badge bg-primary">{{ result.patient_type }}</span>
                            </td>
                            <td width="8%">
                                <div class="d-flex align-items-center justify-content-start gap-2">
                                    <a href="#" id="view-my-data" data-id="{{ result.id }}" data-name="{{ result.get_full_name }}">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelectorAll('#view-my-data').forEach(element => {
        element.addEventListener('click', async function(event) {
        event.preventDefault();
        
        const prevModalElement = document.getElementById("exampleModal")
        const modalInstance = bootstrap.Modal.getInstance(prevModalElement);

        if (modalInstance) {
            modalInstance.hide();
        }

        const dataId = this.dataset.id;
        const dataName = this.dataset.name;

        const { value: age } = await Swal.fire({
            title: `Access ${dataName} lab results`,
            input: "number",
            inputLabel: "Enter your age",
            inputPlaceholder: "Enter your age",
            showCancelButton: true,
            inputValidator: (value) => {
                if (!value) {
                    return "Age is required!";
                }
            }
        });

        const { value: roomNumber } = await Swal.fire({
            title: `Access ${dataName} lab results`,
            input: "number",
            inputLabel: "Enter your room number",
            inputPlaceholder: "Enter your room number",
            showCancelButton: true,
            inputValidator: (value) => {
                if (!value) {
                    return "Room number is required!";
                }
            }
        });

        if (age && roomNumber) {
            Swal.fire(`Age: ${age}, Room Number: ${roomNumber}`);
        }
    });
});

</script>
{% endblock %}
