{% extends './includes/auth_base.html' %}

{% block auth_content %}
<div class="login-box">
    <div class="card">
        {% for message in messages %}
        <div class="callout callout-info">
            <h5 class="fw-bold">Authentication Message</h5>
            <p>{{ message.message }}</p>
        </p>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="card-body login-card-body">
            <h4 class="login-box-msg fw-bold">Administator Page</h4>
            <div class="input-group mb-3">
                {{ login_form.username }}
                <div class="input-group-text">
                    <span class="bi bi-person"></span>
                </div>
            </div>
            <div class="input-group mb-3">
                {{ login_form.password }}
                <div class="input-group-text">
                    <span class="bi bi-key"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                            checked
                            style="background-color: #198754; border-color: #198754;"
                        >
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember Me
                        </label>
                    </div>
                </div>
            </div>
            <div class="social-auth-links text-center mb-3 d-grid gap-2">
                <input type="submit" class="btn btn-success mb-3" value=" Log me in">
                <p>- OR -</p>
                <a href="/admin" class="btn btn-danger">
                    <i class="bi bi-person-lock"></i>
                    Login as Administator
                </a>
                <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#SearchPatientInformationModal"
                    class="btn btn-primary mt-1"
                >
                    <i class="bi bi-person-lock"></i>
                    Are you a patient?
                </a>
            </div>
        </div>
    </form>
</div>
</div>
<div
    class="modal fade"
    id="SearchPatientInformationModal"
    aria-hidden="true"
    aria-labelledby="SearchPatientInformationModalLabel"
    tabindex="-1"
>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="SearchPatientInformationModalLabel">Search Your Information</h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <table id="datatable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-muted">Patient</th>
                            <th class="text-muted">Gender</th>
                            <th class="text-muted">Type</th>
                            <th class="text-muted">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in patients %}
                        <tr>
                            <td>{{ result.get_full_name }}</td>
                            <td>{{ result.sex }}</td>
                            <td>
                                <span class="badge bg-primary">{{ result.patient_type }}</span>
                            </td>
                            <td width="8%">
                                <div class="d-flex align-items-center justify-content-start gap-2">
                                    <a
                                        href="#"
                                        id="view-my-data"
                                        data-id="{{ result.id }}"
                                        data-name="{{ result.get_full_name }}"
                                    >
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div
    class="modal fade"
    id="PatientInformationModal"
    aria-hidden="true"
    aria-labelledby="PatientInformationModalLabel"
    tabindex="-1"
>
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="PatientInformationModalLabel"></h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="PatientInformationModalTable" class="table table-bordered table-hover">
                        <caption>Patient Information</caption>
                        <thead>
                            <tr>
                                <th class="text-muted">Patient</th>
                                <th class="text-muted">Gender</th>
                                <th class="text-muted">Patient Type</th>
                                <th class="text-muted">Assigned Physician</th>
                                <th class="text-muted">Sample Type</th>
                                <th class="text-muted">SARS Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="patient"></td>
                                <td id="gender"></td>
                                <td id="type"></td>
                                <td id="physician"></td>
                                <td id="sample"></td>
                                <td id="sars"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table id="ClinicalChemistryModalTable" class="table table-bordered table-hover">
                        <caption>Clinical Chemistry Results</caption>
                        <thead>
                            <tr>
                                <th class="text-muted">Glucose</th>
                                <th class="text-muted">Cholesterol</th>
                                <th class="text-muted">Triglycerides</th>
                                <th class="text-muted">HDL</th>
                                <th class="text-muted">LDL</th>
                                <th class="text-muted">Creatinine</th>
                                <th class="text-muted">Uric Acid</th>
                                <th class="text-muted">BUN</th>
                                <th class="text-muted">SGPT</th>
                                <th class="text-muted">SGOT</th>
                                <th class="text-muted">Date</th>
                            </tr>
                        </thead>
                        <tbody id="clinical_chemistry_body"></tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table id="ClinicalChemistryModalTable" class="table table-bordered table-hover">
                        <caption>Serology Results</caption>
                        <thead>
                            <tr>
                                <th class="text-muted">HB Determination</th>
                                <th class="text-muted">Typhidot Rapid Test</th>
                                <th class="text-muted">Dengue Rapid Test</th>
                                <th class="text-muted">Date</th>
                            </tr>
                        </thead>
                        <tbody id="serology_body"></tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table id="HemoglobinModalTable" class="table table-bordered table-hover">
                        <caption>Hematology Results</caption>
                        <thead>
                            <tr>
                                <th class="text-muted" scope="col">Hemoglobin</th>
                                <th class="text-muted" scope="col">Hematocrit</th>
                                <th class="text-muted" scope="col">Erythrocty</th>
                                <th class="text-muted" scope="col">Platelet</th>
                                <th class="text-muted" scope="col">Blood Type</th>
                                <th class="text-muted" scope="col">RH Type</th>
                                <th class="text-muted" scope="col">Leucocyte</th>
                                <th class="text-muted" scope="col">Segmenters</th>
                                <th class="text-muted" scope="col">Lymphocytes</th>
                                <th class="text-muted" scope="col">Monocytes</th>
                                <th class="text-muted" scope="col">Eosinophils</th>
                                <th class="text-muted" scope="col">Basophils</th>
                                <th class="text-muted" scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody id="hemoglobin_body"></tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table id="HemoglobinModalTable" class="table table-bordered table-hover">
                        <caption>Cross Matching Results</caption>
                        <thead>
                            <tr>
                                <th class="text-muted" scope="col">Serial Number</th>
                                <th class="text-muted" scope="col">Amount in CC</th>
                                <th class="text-muted" scope="col">Blood Bank</th>
                                <th class="text-muted" scope="col">Expiration Date</th>
                                <th class="text-muted" scope="col">Result</th>
                            </tr>
                        </thead>
                        <tbody id="cross_matching_body"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelectorAll('#view-my-data').forEach(element => {
        element.addEventListener('click', async function(event) {
        event.preventDefault();
        
        const prevModalElement = document.getElementById("SearchPatientInformationModal")
        const modalInstance = bootstrap.Modal.getInstance(prevModalElement);

        if (modalInstance) {
            modalInstance.hide();
        }

        const dataId = this.dataset.id;
        const dataName = this.dataset.name;

        const { value: age } = await Swal.fire({
            title: `Access ${dataName} lab results`,
            input: "number",
            inputLabel: "Enter your age",
            inputPlaceholder: "Enter your age",
            showCancelButton: true,
            inputValidator: (value) => {
                if (!value) {
                    return "Age is required!";
                }
            }
        });

        const { value: roomNumber } = await Swal.fire({
            title: `Access ${dataName} lab results`,
            input: "number",
            inputLabel: "Enter your room number",
            inputPlaceholder: "Enter your room number",
            showCancelButton: true,
            inputValidator: (value) => {
                if (!value) {
                    return "Room number is required!";
                }
            }
        });

        if (age && roomNumber) {
            fetch('{% url "view_patient_informations" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({
                    patient_id: dataId,
                    age: age,
                    room_number: roomNumber,
                })
            }).then(response => {
                if (!response.ok) {
                    Swal.fire(
                        'Warning',
                        'Failed to access lab results. Please try again later.',
                        'error'
                    )
                }
                return response.json();
            })
            .then(data => {
                if (!data.success) {
                    Swal.fire(
                        'Warning',
                        `${data.error}`,
                        'error'
                    )

                    modalInstance.show()
                } else {

                    console.log(data);

                    const resultModal = document.querySelector('#PatientInformationModal');
                    const resultModalOpen = new bootstrap.Modal(resultModal, {
                        keyboard: false,
                        backdrop: 'static',
                    });
                    resultModalOpen.show();
                    document.getElementById("PatientInformationModalLabel").innerHTML = `${dataName}'s Information`;


                    document.getElementById("patient").innerHTML = data.patient_info.fullname;
                    document.getElementById("gender").innerHTML = data.patient_info.gender;
                    document.getElementById("type").innerHTML = data.patient_info.patient_type;
                    document.getElementById("physician").innerHTML = data.patient_info.physician;
                    document.getElementById("sample").innerHTML = data.patient_info.sample_type;
                    document.getElementById("sars").innerHTML = data.patient_info.sars_result;

                    const clinical_chemistry = data.clinical_chemistry;
                    let clinical_chemistry_rows = "";

                    if (clinical_chemistry.length > 0) {
                        clinical_chemistry.forEach(result => {
                            clinical_chemistry_rows += `
                                <tr>
                                    <td>${result.glucose}</td>
                                    <td>${result.cholesterol}</td>
                                    <td>${result.triglycerides}</td>
                                    <td>${result.hdl}</td>
                                    <td>${result.ldl}</td>
                                    <td>${result.creatinine}</td>
                                    <td>${result.uric_acid}</td>
                                    <td>${result.bun}</td>
                                    <td>${result.sgpt}</td>
                                    <td>${result.sgot}</td>
                                    <td>${result.date}</td>
                                </tr>`;
                        });
                    } else {
                        clinical_chemistry_rows = `
                            <tr>
                                <td colspan='11'>No clinical chemistry results found.</td>
                            </tr>`;
                    }
                    document.getElementById("clinical_chemistry_body").innerHTML = clinical_chemistry_rows;


                    
                    const serology = data.serology;
                    let serology_rows = "";
                    if (serology.length > 0) {
                        serology.forEach(result => {
                            serology_rows += `
                                <tr>
                                    <td>${result.hb_determination}</td>
                                    <td>${result.typhidot_rapid_test}</td>
                                    <td>${result.dengue_rapid_test}</td>
                                    <td>${result.date}</td>
                                </tr>`;
                        });
                    } else {
                        serology_rows = `
                            <tr>
                                <td colspan='4'>No serology results found.</td>
                            </tr>`;
                    }
                    document.getElementById("serology_body").innerHTML = serology_rows;


                    const hematology = data.hematology;
                    let hematology_rows = "";

                    if (hematology.length > 0) {
                        hematology.forEach(result => {
                            hematology_rows += `
                                <tr>
                                    <td>${result.hemoglobin_mass_concentration}</td>
                                    <td>${result.hematocrit}</td>
                                    <td>${result.erythrocty_no_concentration}</td>
                                    <td>${result.platelet}</td>
                                    <td>${result.blood_type}</td>
                                    <td>${result.rh_type}</td>
                                    <td>${result.leucocyte_no_concentration}</td>
                                    <td>${result.segmenters}</td>
                                    <td>${result.lymphocytes}</td>
                                    <td>${result.monocytes}</td>
                                    <td>${result.eosinophils}</td>
                                    <td>${result.basophils}</td>
                                    <td>${result.date}</td>
                                </tr>`;
                        });
                    } else {
                        hematology_rows = `
                            <tr>
                                <td colspan='6'>No hematology results found.</td>
                            </tr>`;
                    }
                    document.getElementById("hemoglobin_body").innerHTML = hematology_rows;
                    
                }

            })
            .catch(error => {
                Swal.fire(
                    'Error',
                    'An error occurred while accessing the lab results. Please try again later.',
                    'error'
                )
            });
        }
    });
});
</script>
{% endblock %}
