{% extends './includes/base.html' %}
{% load group %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% include './includes/message.html' %}
            <div class="d-flex justify-content-between align-items-center">
                <h5>Manage Patient Informations</h5>
                {% if request.user|has_group:"Administrator" or request.user|has_group:"Medical Technologist" or request.user|has_group:"Nurse" %}
                <a href="{% url 'patient_add' %}" class="btn btn-primary mb-3">Add Patient</a>
                {% endif %}
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-muted">Patient</th>
                                <th class="text-muted">Serial No.</th>
                                <th class="text-muted">Type</th>
                                <th class="text-muted">Age</th>
                                <th class="text-muted">Gender</th>
                                <th class="text-muted">Physician</th>
                                <th class="text-muted">Room #</th>
                                <th class="text-muted">SARS Result</th>
                                {% if request.user|has_group:"Administrator" or request.user|has_group:"Medical Technologist" %}
                                <th class="text-muted">Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in patients %}
                            <tr>
                                <td>{{ result.get_full_name }}</td>
                                <td>{{ result.serial_number }}</td>
                                <td>
                                    <span class="badge bg-primary">{{ result.patient_type }}</span>
                                </td>
                                <td>{{ result.age }}</td>
                                <td>
                                    <span class="badge bg-primary">{{ result.sex }}</span>
                                </td>
                                <td>{{ result.physician.get_full_name }}</td>
                                <td>{{ result.room_number }}</td>
                                <td>{{ result.sars_result }}</td>
                                {% if request.user|has_group:"Administrator" or request.user|has_group:"Medical Technologist" %}
                                <td>
                                    <div class="d-flex align-items-center justify-content-start gap-2">
                                        <a href="{% url 'patient_update' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="{% url 'patient_delete' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                        <a href="{% url 'generate_panbio' pk=result.id %}">
                                            <i class="bi bi-printer"></i>
                                        </a>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
