{% extends './includes/base.html' %}
{% load group %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% include './includes/message.html' %}
            <div class="d-flex justify-content-between align-items-center">
                <h5>Manage RBS Results</h5>
                {% if request.user|has_group:"Administrator" or request.user|has_group:"Medical Technologist" %}
                <a href="{% url 'rbs_add' %}" class="btn btn-primary mb-3">Add RBS Result</a>
                {% endif %}
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-muted">Patient</th>
                                <th class="text-muted">Results</th>
                                <th class="text-muted">Pathologist</th>
                                <th class="text-muted">Medical Technologist</th>
                                {% if request.user|has_group:"Administrator" or request.user|has_group:"Medical Technologist" %}
                                <th class="text-muted">Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td>{{ result.patient.get_full_name }}</td>
                                <td>
                                    {% for item in result.rbs_result.all %}
                                        <span class="badge bg-primary">
                                            {{ item }}
                                        </span>
                                    {% endfor %}
                                </td>
                                <td>{{ result.assigned_pathologist.get_full_name }}</td>
                                <td>{{ result.assigned_technologist.get_full_name }}</td>
                                {% if request.user|has_group:"Administrator" or request.user|has_group:"Medical Technologist" %}
                                <td>
                                    <div class="d-flex align-items-center justify-content-start gap-2">
                                        <a href="{% url 'rbs_update' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="{% url 'rbs_delete' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                        <a href="{% url 'generate_rbs_result' pk=result.patient.id %}">
                                            <i class="bi bi-clipboard2-pulse"></i>
                                        </a>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
