{% extends './includes/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Manage Serology Results</h5>
                <a href="{% url 'serology_add' %}" class="btn btn-primary mb-3">Add Serology Result</a>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-muted">Patient</th>
                                <th class="text-muted">HB Determination</th>
                                <th class="text-muted">Typhidot Rapid Test</th>
                                <th class="text-muted">Dengue Rapid Test</th>
                                <th class="text-muted">Date Recorded</th>
                                <th class="text-muted">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td>{{ result.patient }}</td>
                                <td>{{ result.hb_determination }}</td>
                                <td>{{ result.typhidot_rapid_test }}</td>
                                <td>{{ result.dengue_rapid_test }}</td>
                                <td>{{ result.date }}</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-start gap-2">
                                        <a href="{% url 'serology_update' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="{% url 'serology_delete' pk=result.id %}" class="text-sm">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                        <a href="">
                                            <i class="bi bi-printer"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
